@using BlazorAgenda.Client.Viewmodels.BaseViewModels
@typeparam ServiceInterface
@inherits DefaultObjectBaseViewModel<ServiceInterface>

<button onclick=@Close>
    <span>&#10007</span>
</button>

@ChildContent

<button onclick=@Save>
    <span>&#10003</span>
</button>
