@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models
@page "/"
@inherits AgendaViewmodel


@if (StateService.LoginUser == default(User) || StateService.LoginUser == null)
{
    <LoginView OnLogin=OnLoginCompleted />
}
else
{
    <NavigationBarView />
    <div id="main">
        <CalendarView />
        @*<button class="btn btn-primary" id="add-event-btn" onclick=@AddEvent><span class="oi oi-plus"></span> Add event</button>*@
    </div>
}
<UserView/>
