@using BlazorAgenda.Client.Views;
@page "/agenda"

<h1>Blazor agenda</h1>

<p>This component demonstrates fetching data from the server.</p>
@if (!isButtonClicked)
{
    <button class="loginBtn" onclick="@ClickButton">
        Login with Google
    </button>
}
else
{
    if (isLoaded)
    {
        <button onclick=@Show>Show</button>
        <CalendarEventView IsVisible=collapse />
    }
    <CalendarView Loaded="@isLoaded" LoadedChanged="@ChildLoadedEvent" />
}

@functions
{
    bool collapse = true;
    void Show()
    {
        collapse = !collapse;
    }

    bool isButtonClicked = false;
    bool isLoaded = false;

    void ClickButton()
    {
        isButtonClicked = true;
    }

    void ChildLoadedEvent(bool _isLoaded)
    {
        isLoaded = _isLoaded;
        StateHasChanged();
    }
}
