@using BlazorAgenda.Client.Viewmodels
@page "/agenda"
@inherits AgendaViewmodel

<div class=@(IsFocus ? null : "greyout" )>
    <h1>Blazor agenda</h1>

    <p>This component demonstrates fetching data from the server.</p>
    @if (!isButtonClicked)
    {
        <button class="loginBtn" onclick="@ClickButton">
            Login with Google
        </button>
    }
    else
    {
        if (isLoaded)
        {
            <button onclick="@AddNewEvent">Show</button>
            if (Service.CurrentObject != null)
            {
                <CalendarEventView Service=Service/>
            }
        }
        <CalendarView Loaded="@isLoaded" LoadedChanged="@ChildLoadedEvent" />
    }
</div>
