@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models
@page "/agenda"
@inherits AgendaViewmodel

<div class=@(IsFocus ? null : "greyout" )>
    <h1>Blazor agenda</h1>

    @if (!IsLoginCompleted)
    {
        <LoginView OnLogin=OnLoginCompleted/>
    }
    else
    {
        if (isLoaded)
        {
            <button onclick=@AddEvent>Show</button>
            <button onclick=@EditUser>Edit user</button>
            if (StateService.ObjectFocus == typeof(User))
            {
                <UserView SetUser=StateService.LoginUser OnClose=OnCloseDialog/>
            }
            else if (StateService.ObjectFocus == typeof(Event))
            {
                <EventView/>
            }
            <ContactsView />
        }
        <CalendarView Loaded="@isLoaded" LoadedChanged="@ChildLoadedEvent" />
    }
</div>
