@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Client.Views;
@using BlazorAgenda.Shared.Models
@page "/"
@inherits AgendaViewmodel

@if (!IsLoginCompleted)
{
    <LoginView OnLogin=OnLoginCompleted />
}
else
{
    <h1>Blazor agenda</h1>
    <button onclick=@AddEvent>Show</button>
    <button onclick=@EditUser>Edit user</button>
    <UserView SetUser=StateService.LoginUser OnClose=OnCloseDialog IsVisible=@(StateService.ObjectFocus == typeof(User)) />
    <EventView OnClose=OnCloseDialog IsVisible=@(StateService.ObjectFocus == typeof(Event)) />
    <CalendarView />
}
