@using BlazorAgenda.Client.Viewmodels
@page "/agenda"
@inherits AgendaViewModel

<h1>Blazor agenda</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Events == null)
{
    <button class="loginBtn" onclick="@(async () => await GetUpcomingEvents())">
        Login with Google
    </button>
}
else
{
    <CalendarEventView />
    <CalendarView Events=@Events Today=@Today Monday=@Monday></CalendarView>
    @foreach (var item in Events)
    {
        <div class="row">
            <span class="col-xs-4">@item.Start.ToString("dd-MM-yyyy hh:mm")</span>
            <span class="col-xs-4">@item.End.ToString("dd-MM-yyyy hh:mm")</span>
            <span class="col-xs-4">@item.Summary</span>
        </div>
    }
}

@functions
{
protected override void OnInit()
{
    OnChange += StateHasChanged;
}
}
