@using BlazorAgenda.Services.Interfaces;
@using BlazorAgenda.Shared.Models;
@inject IUserService Service
@inject HttpClient http

<label>Email</label>
<input type="text" bind=email />
<label>Password</label>
<input type="text" bind=password />
<button onclick=@LoginAsync>login</button>

@functions {
    string email { get; set; }
    string password { get; set; }
    [Parameter] Action OnLogin { get; set; }

    public async Task LoginAsync()
    {
        //OnLogin();
        Service.CurrentUser = new User()
        {
            Emailadress = email,
            Password = Service.ConvertStringToHash(password)
        };
        //await Service.CheckUser();
        if (await Service.CheckUser())
        {
            OnLogin();
        }
    }
}