@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Client.Views.BaseViews
@layout DefaultObjectBaseView
@page "/event"
@*@inherits CalendarEventViewmodel*@

<p> BOOYA</p>

@*<div>
    <h1>Afspraak</h1>

    <label>Afspraak omschrijving</label>
    <input bind="CurrentObject.CurrentObject.Summary" />
    <label>Begindatum</label>
    <input type="date" bind=CurrentObject.CurrentObject.Start format-value="yyyy-MM-dd" />
    <label>Begintijd</label>
    <input type="time" bind=CurrentObject.CurrentObject.Start format-value="HH:mm" />
    <label>Einddatum</label>
    <input type="date" bind=CurrentObject.CurrentObject.End format-value="yyyy-MM-dd" />
    <label>Eindtijd</label>
    <input type="time" bind=CurrentObject.CurrentObject.End format-value="HH:mm" />
    <button onclick=@PostAsync>Opslaan</button>
</div>*@