@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared
@inherits CalendarViewModel

@if (Loaded)
{
    <div class="row">
        <span class="col">
            <button onclick=@(() => GoToPreviousWeek())>&lt;</button>
            <button onclick=@(() => GoToCurrentWeek())>Vandaag</button>
            <button onclick=@(() => GoToNextWeek())>&gt;</button>
        </span>
        <span class="col">
            <input type="date" bind="@SelectedDate" format-value="yyyy-MM-dd" />
        </span>
        <span class="col"></span>
        <span class="col"></span>
    </div>
    @CurrentMonthAndYear
    <table class="table">
        <thead>
            @Head
        </thead>
        <tbody>
            @Body
        </tbody>
    </table>
}

@functions {
    protected override async Task OnInitAsync()
    {
        await GetColors();
        await GetEvents();
        GoToCurrentWeek();
    }
}