@using BlazorAgenda.Client.Viewmodels
@inherits CalendarEventViewmodel

<DefaultObjectBaseView CurrentObject=CalendarEvent Post=Post>
    <div class="row">
        <label class="col">Afspraak omschrijving</label>
        <input class="col" bind=CalendarEvent.Summary />
    </div>
    <div class="row">
        <label class="col">Begindatum</label>
        <input class="col" type="date" bind=CalendarEvent.Start format-value="yyyy-MM-dd" />
        <label class="col">Begintijd</label>
        <input class="col" type="time" bind=CalendarEvent.Start format-value="HH:mm" />
    </div>
    <div class="row">
        <label class="col">Einddatum</label>
        <input class="col" type="date" bind=CalendarEvent.End format-value="yyyy-MM-dd" />
        <label class="col">Eindtijd</label>
        <input class="col" type="time" bind=CalendarEvent.End format-value="HH:mm" />
    </div>
</DefaultObjectBaseView>