@using BlazorAgenda.Client.Viewmodels
@inherits CalendarEventViewmodel

<DefaultObjectBaseView IsVisible=IsVisible Service="Service">
    <label>Afspraak omschrijving</label>
    <input bind="Service.CurrentObject.Summary" />
    <label>Begindatum</label>
    <input type="date" bind=Service.CurrentObject.Start format-value="yyyy-MM-dd" />
    <label>Begintijd</label>
    <input type="time" bind=Service.CurrentObject.Start format-value="HH:mm" />
    <label>Einddatum</label>
    <input type="date" bind=Service.CurrentObject.End format-value="yyyy-MM-dd" />
    <label>Eindtijd</label>
    <input type="time" bind=Service.CurrentObject.End format-value="HH:mm" />
</DefaultObjectBaseView>