@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Services.Interfaces
@inherits CalendarEventViewmodel

<DefaultObjectBaseView ServiceInterface=ICalendarEventService>
    <div class="row">
        <label class="col">Afspraak omschrijving</label>
        <input class="col" bind=Service.CurrentObject.Summary />
    </div>
    <div class="row">
        <label class="col">Begindatum</label>
        <input class="col" type="date" bind=Service.CurrentObject.Start format-value="yyyy-MM-dd" />
        <label class="col">Begintijd</label>
        <input class="col" type="time" bind=Service.CurrentObject.Start format-value="HH:mm" />
    </div>
    <div class="row">
        <label class="col">Einddatum</label>
        <input class="col" type="date" bind=Service.CurrentObject.End format-value="yyyy-MM-dd" />
        <label class="col">Eindtijd</label>
        <input class="col" type="time" bind=Service.CurrentObject.End format-value="HH:mm" />
    </div>
</DefaultObjectBaseView>