@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Services.Interfaces
@inherits CalendarEventViewmodel

<DefaultObjectBaseView ServiceInterface=ICalendarEventService>
    <div class="row">
        <label class="col">Afspraak omschrijving</label>
        <input class="col" bind=Service.CurrentObject.Summary />
    </div>
    <div class="row">
        <label class="col">Van</label>
        <input class="col" type="date" bind=Start format-value="yyyy-MM-dd" />
        <input class="col" type="time" bind=Start format-value="HH:mm" />
    </div>
    <div class="row">
        <label class="col">Tot</label>
        <input class="col" type="date" bind=End format-value="yyyy-MM-dd" />
        <input class="col" type="time" bind=End format-value="HH:mm" />
    </div>
</DefaultObjectBaseView>