@using BlazorAgenda.Client.Viewmodels
@inherits CalendarViewModel

@if (Loaded)
{
    <table class="table">
        <thead>
            @Head
        </thead>
        <tbody>
            @Body
        </tbody>
    </table>
    @foreach (var item in Events)
    {
        <div class="row">
            <span class="col-xs-4">@item.Start.ToString("dd-MM-yyyy hh:mm")</span>
            <span class="col-xs-4">@item.End.ToString("dd-MM-yyyy hh:mm")</span>
            <span class="col-xs-4">@item.Summary</span>
        </div>
    }
}

@functions {
    protected override async Task OnInitAsync()
    {
        await GetAsync();
        BuildTable();
    }
}