@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared
@inherits ContactsViewModel

@if (Service.CurrentCollection != null)
{
    @foreach (Contact contact in Service.CurrentCollection)
    {
        <div>
            <input type="checkbox" bind=contact.IsCalendarShown />
            <content>@contact.FullName</content>
        </div>
    }
}