@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models
@inherits ContactsViewModel

@if (Contacts != null)
{
    @foreach (User contact in Contacts)
    {
        <div>
            <input type="checkbox" />
             @*bind=*@ 
            <content>@contact.Firstname</content>
        </div>
    }
}