@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models
@inherits ContactsViewModel

@if (Contacts != null)
{
    <div>
        <select>
            @foreach (User user in Contacts)
            {
                <option onclick=@(() => ClickContact(user))>@user.Firstname</option>
            }
        </select>
        @*<input type="checkbox" placeholder="..."/>
        <content>@contact.Firstname</content>*@
    </div>
}