@using BlazorAgenda.Client.Services;
@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models
@inherits ContactsViewModel

@if (Contacts != null)
{
    @foreach (User user in Contacts)
    {
        int index = StateService.ChosenContacts.FindIndex(x => x.Id == user.Id);
        string color = index > -1 ? Colors.Items[index % 11] : "#000";
        <div class="form-row">
            <input type="checkbox" onchange=@(e => SelectContact(user.Id, (bool)e.Value)) checked=@(index > -1) />
            <span style="color:@color;">@user.Firstname @user.Lastname</span>
        </div>
     }
}
