@using BlazorAgenda.Client.Viewmodels;
@inherits LoginViewmodel

<div class="contentBox">
    <label for="email">Email</label>
    <input type="text" name="email" class="form-control" bind=UserService.CurrentUser.Emailadress /><br />
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" bind=UserService.CurrentUser.Password /><br />
    <button class="btn btn-primary" onclick=@LoginAsync>Log in</button>
    <button class="btn btn-primary" onclick=@(() => ShowAddUser = true)>Add new user</button>
</div>
@if (ShowAddUser)
{
    <UserView />
}
