@using BlazorAgenda.Services.Interfaces;
@using BlazorAgenda.Shared.Models;
@inject IStateService Service
@inject IUserService UserService

<label>Email</label>
<input type="text" bind=email />
<label>Password</label>
<input type="text" bind=password />
<button onclick=@LoginAsync>login</button>
<button onclick=@(() => ShowAddUser = true)>Add new user</button>

@if (ShowAddUser)
{
    <UserView/>
}

@functions {
    string email { get; set; }
    string password { get; set; }
    bool ShowAddUser { get; set; } = false;
    [Parameter] Action OnLogin { get; set; }

    public async Task LoginAsync()
    {
        Service.LoginUser.Emailadress = email;
        Service.LoginUser.Password = UserService.ConvertStringToHash(password);
        if (await UserService.CheckUser(Service.LoginUser))
        {
            OnLogin?.Invoke();
        }
    }
}