@using BlazorAgenda.Services.Interfaces;
@using BlazorAgenda.Shared.Models;
@inject IStateService Service
@inject IUserService UserService

<label for="email">Email</label> <input type="text" name="email" class="form-control" bind=email /><br />
<label for="password">Password</label> <input type="password" name="password" class="form-control" bind=password /><br />
<button onclick=@LoginAsync>Log in</button>
<button onclick=@(() => ShowAddUser = true)>Add new user</button>

@if (ShowAddUser)
{
    <UserView/>
}

@functions {
    string email { get; set; }
    string password { get; set; }
    bool ShowAddUser { get; set; } = false;
    [Parameter] Action OnLogin { get; set; }

    public async Task LoginAsync()
    {
        Service.LoginUser.Emailadress = email;
        Service.LoginUser.Password = UserService.ConvertStringToHash(password);
        if (await UserService.CheckUser(Service.LoginUser))
        {
            OnLogin?.Invoke();
        }
    }
}