@using BlazorAgenda.Services.Interfaces;
@using BlazorAgenda.Shared.Models;
@inject IStateService Service

<label>Email</label>
<input type="text" bind=email />
<label>Password</label>
<input type="text" bind=password />
<button onclick=@LoginAsync>login</button>
@*<button onclick=@(() => ShowAddUser = true)>Add new user</button>

@if (ShowAddUser)
{
    <UserView/>
}*@

@functions {
    string email { get; set; }
    string password { get; set; }
    bool ShowAddUser { get; set; } = false;
    [Parameter] Action OnLogin { get; set; }

    public async Task LoginAsync()
    {
        Service.LoginUser.CurrentUser.Emailadress = email;
        Service.LoginUser.CurrentUser.Password = Service.LoginUser.ConvertStringToHash(password);
        if (await Service.LoginUser.CheckUser())
        {
            OnLogin?.Invoke();
        }
    }
}