@using BlazorAgenda.Services.Interfaces;
@using BlazorAgenda.Shared.Models;
@inject IStateService Service
@inject IUserService UserService

<div class="contentBox">
    <label for="email">Email:</label> <input type="text" name="email" class="form-control" bind=email /><br />
    <label for="password">Password:</label> <input type="password" name="password" class="form-control" bind=password /><br />
    <button type="button" class="btn btn-primary" onclick=@LoginAsync>Log in</button>
    <button type="button" class="btn btn-primary" onclick=@(() => ShowAddUser = true)>Add new user</button>

    @if (ShowAddUser)
    {
        <UserView/>
    }
</div>

    @functions {
    string email { get; set; }
    string password { get; set; }
    bool ShowAddUser { get; set; } = false;
    [Parameter] Action OnLogin { get; set; }

    public async Task LoginAsync()
    {
        Service.LoginUser.Emailadress = email;
        Service.LoginUser.Password = UserService.ConvertStringToHash(password);
        if (await UserService.CheckUser(Service.LoginUser))
        {
            OnLogin?.Invoke();
        }
    }
    }
