@using BlazorAgenda.Client.Viewmodels;
@inherits NavigationBarViewModel

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Hello @StateService.LoginUser.Firstname</a>
    <span class="navbar-text mr-auto">
        Blazor agenda
    </span>
    <ul class="navbar-nav">
        <li class="nav-item" onclick=@EditUser>
            <a class="nav-link"><span class="oi oi-person"></span> Edit profile </a>
        </li>
        <li class="nav-item" onclick=@Logout>
            <a class="nav-link">
                <span class="oi oi-account-logout"></span> Logout
            </a>
        </li>
    </ul>
</nav>