@using BlazorAgenda.Services.Interfaces
@using BlazorAgenda.Client.Viewmodels
@inherits UserViewModel

<DefaultObjectBaseView ServiceInterface=IUserService BeforeSave=@ConvertPassword IsVisible=@IsVisible GetClosedValue=@OnClose>
    <div class="form-row">
        <label class="col-sm-6 col-form-label">Email</label>
        <input class="col-sm-6 form-control" type="text" bind=Service.CurrentUser.Emailadress />
    </div>
    <div class="form-row">
        <label class="col-sm-6 col-form-label">Firstname</label>
        <input class="col-sm-6 form-control" type="text" bind=Service.CurrentUser.Firstname />
    </div>
    <div class="form-row">   
        <label class="col-sm-6 col-form-label">Lastname</label>
        <input class="col-sm-6 form-control" type="text" bind=Service.CurrentUser.Lastname />
    </div>
    <div class="form-row">
        <label class="col-sm-6 col-form-label">Password</label>
        <input class="col-sm-6 form-control" type="text" bind=Service.CurrentUser.Password />
    </div>
</DefaultObjectBaseView>