@using BlazorAgenda.Services.Interfaces
@using BlazorAgenda.Client.Viewmodels
@inherits UserViewModel

<DefaultObjectBaseView ServiceInterface=IUserService BeforeSave=@ConvertPassword IsVisible=@IsVisible GetClosedValue=@OnClose>
    <label>Email</label>
    <input type="text" bind=Service.CurrentUser.Emailadress />
    <label>Firstname</label>
    <input type="text" bind=Service.CurrentUser.Firstname />
    <label>Lastname</label>
    <input type="text" bind=Service.CurrentUser.Lastname />
    <label>Password</label>
    <input type="text" bind=Service.CurrentUser.Password />
</DefaultObjectBaseView>